html {
    --brand-green: #076448;
    --dark-green: #099268;
    --medium-green: #20c997;
    --text-color: #212529;
    --gray: #868e96;
    --light-gray: #f1f3f5;
    --extra-light-gray: #f8f9fa;
    --white: #fff;
    box-sizing: border-box;
    color: var(--text-color);
    }
    *,
    *::before,
    *::after {
    box-sizing: inherit;
    }
    body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.4;
    background-color: var(--extra-light-gray);
    }
    h1, h2, h3, h4 {
    font-family: Georgia, serif;
    }
    a {
    color: var(--medium-green);
    }
    a:visited {
    color: var(--brand-green);
    }
    a:hover {
        color: var(--brand-green);
        }
        .nav-container {
            background-color: var(--medium-green);
            }
            .nav-container__inner {
            display: flex;
            justify-content: space-between;
            max-width: 1080px;
            margin: 0 auto;
            padding: 0.625em 0;
            }
            .home-link {
            color: var(--text-color);
            font-size: 1.6rem;
            font-family: Georgia, serif;
            font-weight: bold;
            text-decoration: none;
            }
            .top-nav {
            display: flex;
            list-style-type: none;
            margin: 0;
            }
            .top-nav > li + li {
                margin-left: 0.625em;
            }
            .top-nav a {
            display: block;
            padding: 0.3em 1.25em;
color: var(--white);
background: var(--brand-green);
text-decoration: none;
border-radius: 3px;
}
p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.top-nav a:hover {
background-color: var(--dark-green);
}
.top-nav__featured > a {
color: var(--brand-green);
background-color: var(--white);
}
.top-nav__featured > a:hover {
color: var(--medium-green);
background-color: var(--white);
}
.hero {
    background-size: cover;
    margin-bottom: none;
    }
    .hero__inner {
    max-width: 1080px;
    margin: 0 auto;
    padding: 5.5625em 12.5em 12.5em 0;
    text-align: left;
    }
    .hero h2 {
    font-size: 1.95rem;
    margin-top: 0;
    margin-bottom: 0.625rem;
    }
    .button {
    display: inline-block;
    padding: 0.4em 1em;
    color: var(--brand-green);
    border: 2px solid var(--brand-green);
    border-radius: 0.2em;
    text-decoration: none;
    font-size: 1rem;
    }
    .button:hover {
    background-color: var(--dark-green);
    color: var(--white);
}
.button--cta {
padding: 0.6em 1em;
background-color: var(--brand-green);
color: var(--white);
border: none;
}
.container {
    margin: 0 auto;
    max-width: 1080px;
    }
    .tile {
        background-color: var(--white);
        border-radius: 0.3em;
        padding: 1.5625em;
    }
    .tile > h4 {
        margin-bottom: 1.5em;
    }
    .tile-row {
    display: flex;
    }
    .tile-row > * {
    flex: 1;
    }
    .tile-row > * + *{
        margin-left: 1.5625em;
    }
    .tile {
    background-color: var(--white);
    border-radius: 0.3em;
}
.tag-list {
    list-style: none;
    padding-left: 0;
    }
    .tag-list > li {
    display: inline;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    background-color: var(--light-gray);
    line-height: 2.6;
    }
.page-footer {
    margin-top: 3em;
    padding: 1em 0;
    background-color:#408a4ccb;
    }
    .page-footer__inner {
    margin: 0 auto;
    max-width: 1080px;
    text-align: center;
    font-size: 0.8rem;
    }