* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} 

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo {
    font-size: 2.5rem;
    color: var(--text--color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s; 
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none; 
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.heading {
    text-align: center;
    font-size: 4.5rem; 
}

.home-content h3:nth-of-type(2) {
     margin-bottom: 2rem;

}
.home-content p {
     font-size: 1.6rem;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    color: var(--text-color);
}
span {
    color: var(--main-color);
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{ 
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left:0; 
}

#radio2:checked ~ .first{
    margin-left:-20%; 
}

#radio3:checked ~ .first{
    margin-left:-40%; 
}

#radio4:checked ~ .first{
    margin-left:-60%; 
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 450px;

}

.navigation-auto div{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
     
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
} 

#radio1:checke  ~ .navigation-auto .auto-btn1{
    background:  #40d3dc;
} 

#radio2:checked ~ .navigation-auto .auto-btn2{
    background:  #40d3dc;
} 

#radio3:checked ~ .navigation-auto .auto-btn3{
    background:  #40d3dc;
} 

#radio4:checked ~ .navigation-auto .auto-btn4{
    background:  #40d3dc;
} 
.container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 3px;

}
.container h3{
    font-size: 45px;
    margin-top: 10px;
    font-weight: 500;
}